<%= form_with(model: service, local: true, class: "card") do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="form-group">
          <%= form.label :name, "Nombre", class: "form-label" %>
          <%= form.text_field :name, class: "form-control", placeholder: "Ingrese su nombre"%>
        </div>

        <div class="form-group">
          <%= form.label :price, "Precio", class: "form-label" %>
          <%= form.text_field :price, class: "form-control", placeholder: "Ingrese precio" %>
        </div>

        <div class="form-group">
          <%= form.label :status, "Estado", class: "form-label" %>
          <%= form.select :status, @status, { selected: service.status.present? ? service.status : "enabled" } , { class: "form-control custom-select" } %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <div class="d-flex">
      <%= form.submit 'Guardar', class: "btn btn-primary ml-auto", style: "width: 200px" %>
    </div>
  </div>
<% end %>