<div class=" content-area">
  <div class="row mt-5">
    <div class="col-12">
      <div class="card">
        <div class="card-header ">
          <h3 class="card-title ">Listado de Servicios</h3>
          <div class="card-options">
            <%= link_to '<i class="fa fa-plus"></i> Crear Servicio'.html_safe, new_user_path, class: 'btn btn-sm btn-success' %>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover card-table table-striped table-vcenter table-outline text-nowrap">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Estado</th>
                <th scope="col">Creador</th>
                <% if can? :update, Service or can? :destroy, Service %>
                  <th scope="col">Editar Usuario</th>
                <% else %>
                  <th scope="col"></th>
                <% end %>
                <th scope="col">Información</th>
              </tr>
            </thead>
            <tbody>
            <% @services.each do |service| %>
              <tr>
                <td><%= service.id %></td>
                <td><%= service.name %></td>
                <td><%= number_to_currency(service.price.to_i) %></td>
                <td><%= service.enabled? ? "Habilitado" : "Deshabilitado" %></td>
                <td><%= service.author.name %></td>
                <td>
                  <%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_service_path(service), class: "btn btn-sm btn-primary" if can? :update, service %>
                  <%= link_to '<i class="fa fa-trash"></i> Eliminar'.html_safe, service, method: :delete, data: { confirm: 'Estas segur@?' }, class: "btn btn-sm btn-danger" if can? :destroy, service %>
                </td>
                <td><%= link_to '<i class="fa fa-info-circle"></i> Detalles'.html_safe, service, class: "btn btn-sm btn-info" %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <!-- table-responsive -->
      </div>
    </div>
  </div>
</div>
