<div class=" content-area">
  <div class="page-header">
    <h4 class="page-title">Tabla de Servicios</h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Servicios</a></li>
      <li class="breadcrumb-item active" aria-current="page">Listado</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="table-responsive">
          <table class="table card-table table-vcenter text-nowrap">
            <thead>
              <tr>
                <th class="py-3">ID</th>
                <th class="py-3">Nombre</th>
                <th class="py-3">Precio</th>
                <th class="py-3">Estado</th>
                <th class="py-3">Creador</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <% @services.each do |service| %>
              <tr>
                <td><%= service.id %></td>
                <td><%= service.name %></td>
                <td><%= number_to_currency(service.price.to_i) %></td>
                <td><%= service.status ? "Habilitado" : "Deshabilitado" %></td>
                <td><%= service.author.name %></td>
                <td class="text-right">
                  <%= link_to '<i class="fe fe-plus mr-2"></i>Mostrar'.html_safe, service, class: "btn btn-primary" %>
                  <%= link_to '<i class="fe fe-settings mr-2"></i>Editar'.html_safe, edit_service_path(service), class: "btn btn-info" %>
                  <%= link_to '<i class="fe fe-x mr-2"></i>Eliminar'.html_safe, service, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <!-- table-responsive -->
      </div>
    </div>
  </div>
</div>
