<% @top_services.each_with_index do |service, index| %>
  <div class="chat-details mb-1 p-3">
    <h4 class="mb-0">
      <span class="h5 font-weight-normal"><%= Service.find(service[:id]).name %></span>
      <span class="float-right p-1 <%= set_color(index) %> btn btn-sm text-white">
      <b><%= service[:percent] %></b>%</span>
    </h4>
    <div class="progress progress-md mt-3">
      <div class="progress-bar progress-bar-striped progress-bar-animated <%= set_color(index) %>" style="width: <%= service[:percent] %>%"></div>
    </div>
  </div>
<% end %>