<div class=" content-area ">
  <div class="page-header">
    <h4 class="page-title">Panel de Información</h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Información</a></li>
    </ol>
  </div>

  <div class="row row-cards">
    <div class="col-sm-12 col-lg-6 col-xl-3">
      <div class="card card-img-holder">
        <div class="card-body list-icons">
          <div class="clearfix">
            <div class="float-left  mt-2">
              <span class="text-warning ">
                <i class="si si-basket-loaded "></i>
              </span>
            </div>
            <div class="float-right text-right">
              <p class="card-text text-muted font-weight-semibold mb-1">Servicios</p>
              <h2><%= @services_count %></h2>
            </div>
          </div>
          <div class="card-footer p-0">
            <p class="text-muted mb-0 pt-4"><i class="si si-arrow-down-circle text-warning mr-1" aria-hidden="true"></i> Servicios Activos</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 col-xl-3">
      <div class="card card-img-holder">
        <div class="card-body list-icons">
          <div class="clearfix">
            <div class="float-left  mt-2">
              <span class="text-success ">
                <i class="si si-credit-card "></i>
              </span>
            </div>
            <div class="float-right text-right">
              <p class="card-text text-muted font-weight-semibold mb-1">Reservas</p>
              <h2><%= @bookings_count %></h2>
            </div>
          </div>
          <div class="card-footer p-0">
            <p class="text-muted mb-0 pt-4"><i class="si si-arrow-up-circle text-success mr-1"></i> Total de Reservas</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 col-xl-3">
      <div class="card card-img-holder">
        <div class="card-body list-icons">
          <div class="clearfix">
            <div class="float-left  mt-2">
              <span class="text-info ">
                <i class="si si-chart"></i>
              </span>
            </div>
            <div class="float-right text-right">
              <p class="card-text text-muted font-weight-semibold mb-1">Completadas</p>
              <h2><%= @book_comp_prom %>%</h2>
            </div>
          </div>
          <div class="card-footer p-0">
            <p class="text-muted mb-0 pt-4"><i class="si si-exclamation text-info mr-1" ></i> Reservas Completadas</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 col-xl-3">
      <div class="card card-img-holder">
        <div class="card-body list-icons">
          <div class="clearfix">
            <div class="float-left  mt-2">
              <span class="text-primary ">
                <i class="si si-user-following "></i>
              </span>
            </div>
            <div class="float-right text-right">
              <p class="card-text text-muted font-weight-semibold mb-1">Clientes</p>
              <h2><%= @clients_count %></h2>
            </div>
          </div>
          <div class="card-footer p-0">
            <p class="text-muted mb-0 pt-4"><i class="si si-check mr-1 text-primary" ></i> Total de Clientes</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-deck">
    <div class="col-lg-12 col-sm-12">
      <div class="card ">
        <div class="card-header">
          <h3 class="card-title">Facturas ultima semana</h3>
          <div class="card-options ">
            <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
            <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
          </div>
        </div>
        <div class="card-body">
          <div id="echartArea2" class="chart-tasks chart-dropshadow" style="height: 300px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;" _echarts_instance_="ec_1543311138398"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="card ">
        <div class="card-header">
          <div class="card-title">Servicios mas solicitados</div>
          <div class="card-options ">
            <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
            <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
          </div>
        </div>
        <div class="card-body p-4">
          <div class="chats-wrap">
            <%= render 'top_services' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-sm-12">
      <div class="card ">
        <div class="card-header">
          <h3 class="card-title">Reservas Semanales</h3>
          <div class="card-options ">
            <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
            <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
          </div>
        </div>
        <div class="card-body">
          <div id="echart8" class="chartsh chart-dropshadow"></div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'last_bookings' %>
</div>
