<p id="notice"><%= notice %></p>

<p>
  <strong>Formula:</strong>
  <%= @booking.formula %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @booking.comment %>
</p>

<p>
  <strong>Date:</strong>
  <%= @booking.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @booking.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @booking.end_time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @booking.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user %>
</p>

<p>
  <strong>Author:</strong>
  <%= @booking.author %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @booking.customer %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
