<div class=" content-area">
  <div class="row mt-5">
    <div class="col-12">
      <div class="card">
        <div class="card-header ">
          <h3 class="card-title ">Listado de Usuarios</h3>
          <div class="card-options">
            <%= link_to '<i class="fa fa-plus"></i> Crear Usuario'.html_safe, new_user_path, class: 'btn btn-sm btn-success' %>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover card-table table-striped table-vcenter table-outline text-nowrap">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido 1</th>
                <th scope="col">Apellido 2</th>
                <th scope="col">Correo</th>
                <th scope="col">Telefono</th>
                <th scope="col">Estado</th>
                <th scope="col">Rol</th>
                <th scope="col">Editar Usuario</th>
                <th scope="col">Información</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td scope="row"><%= user.id %></td>
                  <td><%= user.name %></td>
                  <td><%= user.lastname %></td>
                  <td><%= user.surname %></td>
                  <td><%= user.email %></td>
                  <td><%= user.phone %></td>
                  <td><%= user.enabled? ? "Habilitado" : "Deshabilitado" %></td>
                  <td><%= user_role(user) %></td>
                  <td>
                    <%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_user_path(user), class: "btn btn-sm btn-primary" if can? :update, user %>
                    <%= link_to '<i class="fa fa-trash"></i> Eliminar'.html_safe, user, method: :delete, data: { confirm: 'Estas segur@?' }, class: "btn btn-sm btn-danger" if can? :destroy, user %>
                  </td>
                  <td><%= link_to '<i class="fa fa-info-circle"></i> Detalles'.html_safe, user, class: "btn btn-sm btn-info" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- table-responsive -->
      </div>
    </div>
  </div>
</div>
