<%= form_with(model: customer, local: true, class: "card") do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="form-group">
          <%= form.label :name, "Nombre", class: "form-label" %>
          <%= form.text_field :name, class: "form-control", placeholder: "Ingrese su nombre" %>
        </div>
        <div class="form-group">
          <%= form.label :email, "Correo Electronico", class: "form-label" %>
          <%= form.email_field :email, class: "form-control", placeholder: "Ingrese su Correo Electronico" %>
        </div>
        <div class="form-group">
          <%= form.label :phone, "Telefono", class: "form-label" %>
          <%= form.text_field :phone, class: "form-control", placeholder: "Ingrese su Telefono" %>
        </div>
        <div class="form-group">
          <%= form.label :status, "Nombre", class: "form-label" %>
          <%= form.select :status, @status, { selected: "enabled" } , { class: "form-control custom-select" } %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <div class="d-flex">
      <%= form.submit "Guardar", class: "btn btn-primary ml-auto", style: "width: 200px" %>
    </div>
  </div>
<% end %>
