<div class=" content-area">
  <div class="page-header">
    <h4 class="page-title">Tabla de Clientes</h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Clientes</a></li>
      <li class="breadcrumb-item active" aria-current="page">Listado</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Basic Table</h3>
        </div>
        <div class="table-responsive">
          <table class="table card-table table-vcenter text-nowrap">
            <thead>
              <tr>
                <th class="wd-10p">ID</th>
                <th class="wd-30p">Nombre</th>
                <th class="wd-30p">Correo</th>
                <th class="wd-10p">Telefono</th>
                <th class="wd-10p">Estado</th>
                <th class="wd-30p">Creador</th>
                <th class="wd-5p"></th>
              </tr>
            </thead>
            <tbody>
            <% @customers.each do |customer| %>
              <tr>
                <td><%= customer.id %></td>
                <td><%= customer.name %></td>
                <td><%= customer.email %></td>
                <td><%= customer.phone %></td>
                <td><%= customer.status %></td>
                <td><%= customer.author.name %></td>
                <td class="text-right">
                  <%= link_to '<i class="fe fe-plus mr-2"></i>Mostrar'.html_safe, customer, class: "btn btn-primary" %>
                  <%= link_to '<i class="fe fe-settings mr-2"></i>Editar'.html_safe, edit_customer_path(customer), class: "btn btn-info" %>
                  <%= link_to '<i class="fe fe-x mr-2"></i>Eliminar'.html_safe, customer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <!-- table-responsive -->
      </div>
    </div>
  </div>
</div>