<div class="content-area">
	<div class="page-header">
		<h4 class="page-title">Información del Cliente</h4>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">Clientes</li>
			<li class="breadcrumb-item active" aria-current="page">Información</li>
		</ol>
	</div>

	<div class="row">
		<div class="col-12">
      <div class="card-body">
        <div class=" " id="profile-log-switch">
          <div class="fade show active ">
            <div class="table-responsive border ">
              <table class="table row table-borderless w-50 m-0 ">
                <tbody class="col-6 p-0">
                  <tr>
                    <td><strong>Nombre: </strong><%= @customer.name %> </td>
                  </tr>
                  <tr>
                    <td><strong>Teléfono: </strong><%= @customer.phone %></td>
                  </tr>
                  <tr>
                    <td><strong>Dirección: </strong><%= @customer.address %></td>
                  </tr>
                </tbody>
                <tbody class="col-6 p-0">
                  <tr>
                    <td><strong>Correo Electrónico: </strong><%= @customer.email %></td>
                  </tr>
                  <tr>
                    <td><strong>Estado: </strong><%= @customer.enabled? ? "Habilitado" : "Deshabilitado" %></td>
                  </tr>
                  <tr>
                    <td><strong>Creador: </strong><%= @customer.author.name %> </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div id="map" data-latitude="<%= @customer.latitude %>" data-longitude="<%= @customer.longitude %>"></div>
    </div>
  </div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUGD2N-lVs5_CWwEunK_IpEU_ZHhQFuLg&callback=initMap"></script>
