<tr id='<%= billing.id %>'>
  <td><%= billing.id %></td>
  <td><%= billing.customer.name %></td>
  <td><%= billing.payment_method %></td>
  <td><%= number_to_currency(billing.amount.to_i) %></td>
  <td><%= billing.currency %></td>
  <td>
    <%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_billing_path(billing), class: "btn btn-sm btn-primary" if can? :update, billing %>
    <%= link_to '<i class="fa fa-trash"></i> Eliminar'.html_safe, billing, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "btn btn-sm btn-danger" if can? :destroy, billing %>
  </td>
  <td><%= link_to '<i class="fa fa-info-circle"></i> Detalles'.html_safe, billing, class: "btn btn-sm btn-info" %></td>
</tr>