<div class=" content-area">
  <div class="row mt-5">
    <div class="col-12">
      <div class="card">
        <div class="card-header ">
          <h3 class="card-title ">Listado de Facturas</h3>
        </div>
        <div class="table-responsive">
          <table class="table table-hover card-table table-striped table-vcenter table-outline text-nowrap">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Método de Pago</th>
                <th scope="col">Total</th>
                <th scope="col">Moneda</th>
                <th scope="col">Cliente</th>
                <% if can? :manage, Billing %>
                  <th scope="col">Editar Factura</th>
                <% else %>
                  <th scope="col"></th>
                <% end %>
                <th scope="col">Información</th>
              </tr>
            </thead>
            <tbody>
            <% @billings.each do |billing| %>
              <tr id='<%= billing.id %>'>
                <td><%= billing.id %></td>
                <td><%= billing.payment_method %></td>
                <td><%= number_to_currency(billing.amount.to_i) %></td>
                <td><%= billing.currency %></td>
                <td><%= billing.customer.name %></td>
                <td>
                  <%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_billing_path(billing), class: "btn btn-sm btn-primary" if can? :update, billing %>
                  <%= link_to '<i class="fa fa-trash"></i> Eliminar'.html_safe, billing, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "btn btn-sm btn-danger" if can? :destroy, billing %>
                </td>
                <td><%= link_to '<i class="fa fa-info-circle"></i> Detalles'.html_safe, billing, class: "btn btn-sm btn-info" %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <!-- table-responsive -->
      </div>
    </div>
  </div>
</div>