<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar" class="nav-sidebar">
    <ul class="list-unstyled components" id="accordion">
      <div class="user-profile">
        <div class="dropdown user-pro-body">
          <div><img src="<%= asset_path('faces/male/25.jpg') %>" alt="user-img" class="img-circle"></div>
          <div class="mb-2">
            <a href="" class="" data-toggle="" aria-haspopup="true" aria-expanded="false"> 
            <span class="font-weight-semibold"><%= current_user.name + " " + current_user.lastname %></span></a>
            <br><span class="text-gray"><%= user_role %></span>
          </div>
          <a href="<%= edit_user_registration_path %>" title="Configuración" class="user-button"><i class="fa fa-cogs"></i></a>
          <a href="<%= destroy_user_session_path %>" data-method="delete" title="Cerrar Sesión" class="user-button"><i class="fa fa-sign-out"></i></a>
        </div>
      </div>

      <% if current_user.admin? %>
        <li>
          <a href="<%= root_path %>" class=" wave-effect waves-effect waves-button"><i class="fa fa-tachometer mr-2"></i> Panel</a>
        </li>
      <% end %>
      <% if can? :read, Customer %>
        <li>
          <a href="<%= customers_url %>" class=" wave-effect waves-effect waves-button"><i class="fa fa-users mr-2"></i> Clientes</a>
        </li>
      <% end %>
      <% if can? :manage, User %>
        <li>
          <a href="<%= users_url %>" class=" wave-effect waves-effect waves-button"><i class="fa fa-male mr-2"></i> Usuarios</a>
        </li>
      <% end %>
      <% if can? :read, Service %>
        <li>
          <a href="<%= services_url %>" class=" wave-effect waves-effect waves-button"><i class="fa fa-th-large mr-2"></i> Servicios</a>
        </li>
      <% end %>
      <% if can? :read, Booking %>
        <li>
          <a href="<%= bookings_url %>" class=" wave-effect waves-effect waves-button"><i class="fa fa-shopping-cart mr-2"></i> Reservas</a>
        </li>
      <% end %>
      <% if current_user.admin? || current_user.assistant? %>
        <li>
          <a href="#" class=" wave-effect waves-effect waves-button"><i class="fa fa-dollar mr-2"></i> Ventas realizadas</a>
        </li>
      <% end %>
    </ul>
  </nav>