<body class="" >
  <div id="global-loader" ></div>
    <div class="page">
      <div class="page-main">
        <div class="app-header1 header py-1 d-flex">
          <div class="container-fluid">
            <div class="d-flex">
              <a class="header-brand" href="<%= root_path %>">
                <%= image_tag 'logo-saloon.png', class: "header-brand-img" %>
              </a>
              <div class="menu-toggle-button">
                <a class="nav-link wave-effect" href="" id="sidebarCollapse">
                  <span class="fa fa-bars"></span>
                </a>
              </div>
              <div class="mt-2">
                  <div class="searching mt-3 ml-2">
                    <a href="javascript:void(0)" class="search-open mt-3">
                      <i class="fa fa-search text-white"></i>
                    </a>
                  <div class="search-inline">
                    <form>
                      <input name="searchBar" type="text" class="form-control" placeholder="Buscardor...">
                      <button type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                      <a href="javascript:void(0)" class="search-close">
                        <i class="fa fa-times"></i>
                      </a>
                    </form>
                  </div>
                </div>
              </div>
              <div class="d-flex order-lg-2 ml-auto">
                <div class="dropdown d-none d-md-flex mt-1" >
                  <a  class="nav-link icon full-screen-link">
                    <i class="fe fe-maximize floating"  id="fullscreen-button"></i>
                  </a>
                </div>
                <div class="dropdown mt-1">
                  <a href="" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                    <span class="avatar avatar-md brround" style="background-image: url(<%= asset_path ('faces/male/25.jpg') %>)"></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow ">
                    <div class="text-center">
                      <a href="" class="dropdown-item text-center font-weight-sembold user"><%= current_user.name + " " + current_user.lastname %></a>
                      <span class="text-center user-semi-title text-dark"><%= user_role %></span>
                      <div class="dropdown-divider"></div>
                    </div>
                    <a class="dropdown-item" href="<%= user_path(current_user) %>">
                      <i class="dropdown-icon mdi mdi-account-outline "></i> Perfil
                    </a>
                    <a class="dropdown-item" href="<%= edit_user_registration_path %>">
                      <i class="dropdown-icon  mdi mdi-settings"></i> Configuración
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="<%= destroy_user_session_path %>" data-method="delete">
                      <i class="dropdown-icon mdi  mdi-logout-variant"></i> Cerrar Sesión
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
