<body class="" >
  <div id="global-loader" ></div>
    <div class="page">
      <div class="page-main">
        <div class="app-header1 header py-1 d-flex">
          <div class="container-fluid">
            <div class="d-flex">
              <a class="header-brand" href="index.html">
                <img src="<%= asset_path('logo-saloon.png') %>" class="header-brand-img" alt="Plight logo">
              </a>
              <div class="menu-toggle-button">
                <a class="nav-link wave-effect" href="" id="sidebarCollapse">
                  <span class="fa fa-bars"></span>
                </a>
              </div>
              <div class="mt-2">
                  <div class="searching mt-3 ml-2">
                    <a href="javascript:void(0)" class="search-open mt-3">
                      <i class="fa fa-search text-white"></i>
                    </a>
                  <div class="search-inline">
                    <form>
                      <input type="text" class="form-control" placeholder="Search here">
                      <button type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                      <a href="javascript:void(0)" class="search-close">
                        <i class="fa fa-times"></i>
                      </a>
                    </form>
                  </div>
                </div>
              </div>
              <div class="d-flex order-lg-2 ml-auto">
                <div class="dropdown d-none d-md-flex mt-1" >
                  <a  class="nav-link icon full-screen-link">
                    <i class="fe fe-maximize floating"  id="fullscreen-button"></i>
                  </a>
                </div>
                <div class="dropdown d-none d-md-flex mt-1">
                  <a class="nav-link icon" data-toggle="dropdown">
                    <i class="fe fe-bell floating"></i>
                    <span class="nav-unread bg-danger"></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                    <a href="" class="dropdown-item d-flex pb-3">
                      <div class="notifyimg">
                        <i class="fa fa-thumbs-o-up"></i>
                      </div>
                      <div>
                        <strong>Someone likes our posts.</strong>
                        <div class="small text-muted">3 hours ago</div>
                      </div>
                    </a>
                    <a href="" class="dropdown-item d-flex pb-3">
                      <div class="notifyimg">
                        <i class="fa fa-commenting-o"></i>
                      </div>
                      <div>
                        <strong> 3 New Comments</strong>
                        <div class="small text-muted">5  hour ago</div>
                      </div>
                    </a>
                    <a href="" class="dropdown-item d-flex pb-3">
                      <div class="notifyimg">
                        <i class="fa fa-cogs"></i>
                      </div>
                      <div>
                        <strong> Server Rebooted.</strong>
                        <div class="small text-muted">45 mintues ago</div>
                      </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="" class="dropdown-item text-center">View all Notification</a>
                  </div>
                </div>
                <div class="dropdown mt-1">
                  <a href="" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                    <span class="avatar avatar-md brround" style="background-image: url(<%= asset_path ('faces/female/25.jpg') %>)"></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow ">
                    <div class="text-center">
                      <a href="" class="dropdown-item text-center font-weight-sembold user"><%= current_user.name + " " + current_user.lastname %></a>
                      <span class="text-center user-semi-title text-dark"><%= user_role %></span>
                      <div class="dropdown-divider"></div>
                    </div>
                    <a class="dropdown-item" href="">
                      <i class="dropdown-icon mdi mdi-account-outline "></i> Perfil
                    </a>
                    <a class="dropdown-item" href="">
                      <i class="dropdown-icon  mdi mdi-settings"></i> Configuración
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="">
                      <i class="dropdown-icon mdi mdi-compass-outline"></i> Necesitas ayuda??
                    </a>
                    <a class="dropdown-item" href="<%= destroy_user_session_path %>" data-method="delete">
                      <i class="dropdown-icon mdi  mdi-logout-variant"></i> Cerrar Sesión
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
